.progressbar-box {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #d8d8d8;
  color: white;
}
.progressbar-active {
  background: #936ee9;
  /* border: 7px solid #46e1fc !important;
  box-sizing: border-box !important; */
}

.progressbar-text {
  color: #d8d8d8;
}
.progressbar-text-active {
  color: #936ee9;
}
